<h1>So many posts</h1>
<ul>
	<% posts.each(function(post){ %>
		<li>
			<a href="#/posts/<%= post.id %>"><%= post.escape("title") %></a>
			<form class="delete-post" data_id="<%= post.id %>">
				<input type="submit" value="Delete Post">
			</form>
		</li>
	<% }); %>
</ul>